<h1>
  angular2-echarts
</h1>
<hr>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <ul>
        <li>
          <a href="#demo1">Demo 1: Standard "options"</a>
        </li>
        <li>
          <a href="#demo2">Demo 2: Use "dataset" to update chart easily</a>
        </li>
        <li>
          <a href="#demo3">Demo 3: Use "loading"</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div id="demo1" class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Demo 1: Line chart with standard options</h3>
      </div>
      <div class="panel-body">
        <div echarts [options]="chartOption1" class="demo-chart"></div>
        <hr>
        <tabset>
          <tab heading='html'>
            <codeblock language="html" theme="okaidia">
              &lt;div echarts [options]="chartOption1" class="demo-chart">&lt;/div>
            </codeblock>
          </tab>
          <tab heading='chartOption1'>
            <codeblock language="javascript" theme="okaidia">
              chartOption1 = {{chartOption1 | json}};
            </codeblock>
          </tab>
        </tabset>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div id="demo2" class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Demo 2: Bar chart with separate dataset</h3>
      </div>
      <div class="panel-body">
        <button class="btn btn-primary" (click)="chageDataset()">Change dateset</button>
        <hr>
        <div echarts [options]="chartOption2" [dataset]="dataset" class="demo-chart"></div>
        <hr>
        <tabset>
          <tab heading='html'>
            <codeblock language="html" theme="okaidia">
              &lt;div echarts [options]="chartOption2" [dataset]="dataset" class="demo-chart">&lt;/div>
            </codeblock>
          </tab>
          <tab heading='dataset'>
            <codeblock language="javascript" theme="okaidia">
              dataset = {{dataset | json}};
            </codeblock>
          </tab>
          <tab heading='chartOption2'>
            <codeblock language="javascript" theme="okaidia">
              chartOption2 = {{"{"}}
                "color": ["#3398DB"],
                "tooltip": {{"{"}}
                  "trigger": "axis",
                  "axisPointer": {{"{"}}            // 坐标轴指示器，坐标轴触发有效
                    "type": "shadow"          // 默认为直线，可选为："line" | "shadow"
                  }
                },
                "grid": {{"{"}}
                  "left": "3%",
                  "right": "4%",
                  "bottom": "3%",
                  "containLabel": true
                },
                "xAxis": [
                  {{"{"}}
                    "type": "category",
                    "data": ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
                    "axisTick": {{"{"}}
                      "alignWithLabel": true
                    }
                  }
                ],
                "yAxis": [
                  {{"{"}}
                    "type": "value"
                  }
                ],
                "series": [
                  {{"{"}}
                    "name": "直接访问",
                    "type": "bar",
                    "barWidth": "60%"
                  }
                ]
              }
            </codeblock>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div id="demo3" class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Demo 3: Use "loading"</h3>
      </div>
      <div class="panel-body">
        <button class="btn btn-primary" (click)="toggleLoading()">Toggle Loading</button>
        <hr>
        <div echarts [options]="chartOption3" [loading]="chartLoading" class="demo-chart"></div>
        <hr>
        <tabset>
          <tab heading='html'>
            <codeblock language="html" theme="okaidia">
              &lt;div echarts [options]="chartOption3" [loading]="chartLoading" class="demo-chart">&lt;/div>
            </codeblock>
          </tab>
          <tab heading='chart3Loading'>
            <codeblock language="javascript" theme="okaidia">
              chartLoading = {{chartLoading | json}};
            </codeblock>
          </tab>
          <tab heading='chartOption3'>
            <codeblock language="javascript" theme="okaidia">
              chartOption3 = {{chartOption3 | json}};
            </codeblock>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>